//to reset element-ui default css
.el-upload {
  input[type="file"] {
    display: none !important;
  }
}

.el-upload__input {
  display: none;
}

.el-step__title {
	line-height: 32px;
}

.el-step__icon.is-icon{
	background-color: $--background-base;
}

.el-step__head.is-process{
	border-color: $--color-primary;
	color: $--color-primary;
}
.el-step__title.is-process, .el-step__description.is-process {
	color: $--color-primary;
}

//暂时性解决diolag 问题 https://github.com/ElemeFE/element/issues/2461
.el-dialog {
  transform: none;
  left: 0;
  position: relative;
  margin: 0 auto;
  border-radius: 12px;
}

.el-dialog__body {
	height: 70vh;
    align-items: center;
    display: flex;
    justify-content: center;
	padding-bottom: 60px;
}

.el-dialog__body img{
	height: 100%;
    width: 100%;
    object-fit: scale-down;
    margin: 0 auto;
}

.el-dialog__headerbtn .el-dialog__close {
	color: $--color-text-primary;
}

.el-dialog__headerbtn .el-dialog__close:hover, .el-dialog__headerbtn .el-dialog__close:focus, .el-dialog__headerbtn .el-dialog__close:active, .el-dialog__headerbtn .el-dialog__close:focus:active {
	color: $--color-primary;
}

//element ui upload
.upload-container {
  .el-upload {
    width: 100%;

    .el-upload-dragger {
      width: 100%;
      height: 200px;
    }
  }
}

.el-upload-list--picture-card .el-upload-list__item-thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover !important;
}

.el-upload__tip {
	display: block;
	line-height: 12px;
}

.pwd {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  top: 0;
  min-width: 45px;
  height: 100%;
  font-size: 16px;
  line-height: initial;
  cursor: pointer;
  user-select: none;
  z-index: 999;
  transition: all .2s ease;
  &.not-visible {
    color: $--color-primary;
    transform: translateY(.05rem) scale(1);
  }
  &.visible {
    color: $--color-danger;
    transform: translateY(0) scale(1.1);
  }
}

.login-container {
	.pwd {
		&.not-visible {
			color: $--color-primary;
			transform: translateY(.2rem) scale(1);
		}
		&.visible {
			color: $--color-danger;
			transform: translateY(0) scale(1.16);
		}
	}
}

.iconMessageBox {
  pointer-events: none;
  user-select: none;
  margin-right: 6px;
  transform: scale(.85) !important;
  border-radius: 50%;
}

.el-notification.right .el-notification__group .el-notification-title {
  color: $--color-info !important;
}

.el-input-group__append button.el-button, .el-input-group__append div.el-select .el-input__inner, .el-input-group__append div.el-select:hover .el-input__inner, .el-input-group__prepend button.el-button, .el-input-group__prepend div.el-select .el-input__inner, .el-input-group__prepend div.el-select:hover .el-input__inner {
	color: $--color-primary;
}

.el-input-group__append, .el-input-group__prepend {
	background-color: $--background-light;
}

.recursiveInput {
	.el-input-group__prepend, .el-input-group__append {
		background-color: $--background-base;
		color: $--color-text-primary;	
	}
}
