@import 'variables';
.filter-container {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  grid-gap: 12px;
  margin-bottom: 2rem;
}

.filter-container>.el-col:first-of-type {
  grid-column-start: 1;
}

.filter-container .filter-item.el-input,
.filter-container .filter-item.el-select {
  margin-right: 10px;
}

.filter-container>.el-col {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.el-table thead .el-table thead {
  color: $--color-primary !important;
}

.paginationLabel {
  font-size: 1rem;
  font-weight: 400;
  color: $--color-text-light-1;
  text-transform: none;
  strong {
    font-size: 1.2rem;
    color: $--color-primary;
  }
}

.el-date-popper .el-picker-panel__link-btn.el-button--default:not(.is-disabled) {
  color: #ffffff !important;
  background-color: $--color-primary !important;
  border-color: $--color-primary !important;
}


.el-date-popper .el-picker-panel__link-btn.el-button--default:not(.is-disabled):hover {
  background-color: $--color-primary !important;
  border-color: $--color-primary !important;
}

.el-row::before,
.el-row::after {
  display: none !important;
}
