#app .sidebar-container .is-opened > .el-submenu__title {
	color: $--background-light;
	background-color: $--color-primary;
}
#app {
  .logo-image {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 12px;
    max-width: 220px;
    height: 80px;
    background-color:  $--color-primary-light;
    margin-bottom: 0;
    img {
      width: auto;
      max-height: 52px;
    }
  }

  .groupScrollBar {
    height: 130% !important;
  }
// 主体区域 Main container
  .main-container {
    min-height: 100%;
    transition: margin-left .28s;
    margin-left: $sideBarWidth;
    position: relative;
  } // 侧边栏 Sidebar container
  .sidebar-container {
    transition: width 0.28s;
    width: $sideBarWidth !important;
    height: 100%;
    position: fixed;
    font-size: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow-x: hidden;
    overflow-y: hidden; // top: 50px;
    //reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }

    .scrollbar-wrapper {
      overflow-x: hidden !important;

      .el-scrollbar__view {
        height: 100%;
      }
    }

    .el-scrollbar__bar.is-vertical {
      right: 0px;
    }

    .is-horizontal {
      display: none;
    }

    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }

    .svg-icon {
      margin-right: 16px;
    }

    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
      color: $--color-text-primary;
      background-color:  $--color-primary-light !important;
    }

	.el-submenu .el-menu-item, .el-submenu .el-submenu__title {
		  transition: color 0ms linear, background-color 0ms linear;
	}

    .el-menu-item {
      color: $--color-text-primary;
	  transition: color 0ms linear, background-color 0ms linear;
	  &.submenu-title-noDropdown {
		  color: $--color-text-primary;
	  }
      span,
      .svg-icon {
        transition: transform 300ms ease, opacity 50ms linear !important;
      }
    }
    .submenu-title-noDropdown,
    .el-submenu__title {
      color: $--color-text-primary;
      &:hover {
        color:  $--background-light !important;
        background-color: $--color-primary !important;
        i {
          color:  $--background-light !important;
        }
      }
    }

    .el-menu .menu-wrapper .menu-wrapper:last-child {
      border-bottom: $--color-primary-light .5px solid;
    }

	.el-menu .menu-wrapper .el-submenu.is-opened {
		background-color: $--color-primary !important;
		color: $--background-light !important;
	}

    .is-active.el-menu-item:focus, .el-menu-item:hover, .el-menu-item:focus, .el-menu-item:hover, .router-link-active {
      color:  $--background-light !important;
      background-color: $--color-primary !important;
      .el-menu-item {
        color:  $--background-light !important;
        background-color: $--color-primary !important;
      }
    }

    .el-submenu__title {
      i {
        color:  $--background-light !important;
      }
    }

    .is-active.is-opened>.el-submenu__title {
      color:  $--background-light !important;
      background-color: $--color-primary !important;
      i {
        color:  $--background-light !important;
      }
    }

    :not(.router-link-exact-active)>.el-menu-item span,
    :not(.router-link-exact-active)>.el-menu-item .svg-icon
    {
      transform: translateX(0);
      display: inline-block;
    }

	.nest-menu .el-menu-item {
	  color:  $--background-light !important;
      background-color: $--color-primary-dark !important;
      span,
      .svg-icon {
        display: inline-block;
      }
	  &:hover {
		color:  $--background-light !important;
		background-color: $--color-primary !important;
	  }
	}

    .el-submenu.is-opened .nest-menu .is-active.el-menu-item {
      color:  $--background-light !important;
      background-color: $--color-primary !important;
      span,
      .svg-icon {
        transform: translateX(1rem);
        display: inline-block;
      }
    }

    .hideSidebar {
      .sidebar-container {
        width: 54px !important;
      }

      .main-container {
        margin-left: 54px;
      }

      .svg-icon {
        margin-right: 0px;
      }

      .submenu-title-noDropdown {
        padding: 0 !important;
        position: relative;

        .el-tooltip {
          padding: 0 !important;
          .svg-icon {
            margin-left: 20px;
          }
        }
      }

      .el-submenu {
        overflow: hidden;

        &>.el-submenu__title {
          padding: 0 !important;
          .svg-icon {
            margin-left: 20px;
          }

          .el-submenu__icon-arrow {
            display: none;
          }
        }
      }

      .el-menu--collapse {
        .el-submenu {
          &>.el-submenu__title {
            &>span {
              height: 0;
              width: 0;
              overflow: hidden;
              visibility: hidden;
              display: inline-block;
            }
          }
        }
      }
    }

    .el-menu--collapse .el-menu .el-submenu {
      min-width: $sideBarWidth !important;
    } // 适配移动端, Mobile responsive
    .mobile {
      .main-container {
        margin-left: 0px;
      }

      .sidebar-container {
        transition: transform .28s;
        width: $sideBarWidth !important;
      }

      &.hideSidebar {
        .sidebar-container {
          pointer-events: none;
          transition-duration: 0.3s;
          transform: translate3d(-$sideBarWidth, 0, 0);
        }
      }
    }

    .withoutAnimation {

      .main-container,
      .sidebar-container {
        transition: none;
      }
    }
  } // when menu collapsed
  .el-menu--vertical {
    &>.el-menu {
      .svg-icon {
        margin-right: 16px;
      }
    }

    // the scroll bar appears when the subMenu is too long
    >.el-menu--popup {
      max-height: 100vh;
      overflow-y: auto;

      &::-webkit-scrollbar-track-piece {
        background: #d3dce6;
      }

      &::-webkit-scrollbar {
        width: 6px;
      }

      &::-webkit-scrollbar-thumb {
        background: #99a9bf;
        border-radius: 20px;
      }
    }
  }
}

