$--color-primary:#546DE5;
$--color-primary-light: lighten( $--color-primary, 20%);
$--color-primary-dark: darken( $--color-primary, 20%);

$--color-success:#25CCF7;
$--color-success-light: lighten( $--color-success, 20%);
$--color-success-dark: darken( $--color-success, 20%);

$--color-warning:#FFC312;
$--color-warning-light: lighten( $--color-warning, 20%);
$--color-warning-dark: darken( $--color-warning, 20%);

$--color-danger:#F56C6C;
$--color-danger-light: lighten( $--color-danger, 20%);
$--color-danger-dark: darken( $--color-danger, 20%);

$--color-info:#A5B1C2;
$--color-info-light: lighten( $--color-info, 20%);
$--color-info-dark: darken( $--color-info, 20%);

$--color-text-primary:#363C48;
$--color-text-regular: #4E5666;
$--color-text-light-1: #7E8593;
$--color-text-light-2: #D1D8E0;

$--color-border: #A5B1C2;
$--color-border-light-1: #D1D8E0;
$--color-border-light-2: #EBEEF5;
$--color-border-light-3: #F2F6FC;

$--background-base:#EBECF1;
$--background-light: #ffffff;
$--background-dark: #334458;

$sideBarWidth: 220px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  color-primary: $--color-primary;
  color-primary-light: $--color-primary-light;
  color-primary-dark: $--color-primary-dark;

  color-success: $--color-success;
  color-success-light: $--color-success-light;
  color-success-dark: $--color-success-dark;

  color-warning: $--color-warning;
  color-warning-light: $--color-warning-light;
  color-warning-dark: $--color-warning-dark;

  color-danger: $--color-danger;
  color-danger-light: $--color-danger-light;
  color-danger-dark: $--color-danger-dark;

  color-info: $--color-info;
  color-info-light: $--color-info-light;
  color-info-dark: $--color-info-dark;

  color-text-primary: $--color-text-primary;
  color-text-light-1: $--color-text-light-1;
  color-text-light-2: $--color-text-light-2;

  color-border: $--color-border;
  color-border-light-1: $--color-border-light-1;
  color-border-light-2: $--color-border-light-2;
  color-border-light-3: $--color-border-light-3;

  background-base: $--background-base;
  background-light: $--background-light;
  background-dark: $--background-dark;

  sideBarWidth: $sideBarWidth;
}
