<template>
  <div class="createPost-container">
    <el-form ref="dataForm" :rules="rules" :model="item" label-position="left">
      <el-col :span="24">
      <div class="createPost-main-container">
        <el-row :gutter="24">
          <el-col :span="6">
             <el-form-item label="Nome da categoria" prop="description">
               <el-input type="text" maxlength="50" :show-word-limit="true" v-model="item.description" placeholder="Ex.: Panfleto"/>
            </el-form-item>
          </el-col>
        </el-row>

      </div>
      </el-col>

      <el-button type="danger" plain @click="$router.go(-1)">Cancelar</el-button>
      <el-button
        v-loading="loading"
        style="margin-left: 10px;"
        type="primary"
        @click="submitPaginated"> Salvar
      </el-button>

    </el-form>
  </div>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex'
  import crudHelper from '@/modules/_common/store/crudHelper'
  import crudMixin from '@/modules/_common/mixins/crud'

  const MODULE_NAME = 'group'
  const crudStore = crudHelper(MODULE_NAME)

  export default {
    name: 'Detail',
    data: () => ({
      MODULE_NAME,
      item: {
        description: '',
        status: ''
      },
      rules: {
        description: [
          { required: true, message: 'Nomear o template é obrigatório.', trigger: 'blur' }
        ],
        status: [
          { required: true, message: 'Definir um status é obrigatório.', trigger: 'blur' }
        ]
      }
    }),
    computed: {
      ...crudStore.computed,
      ...mapGetters({})
    },
    created() {
      if (this.$route.params.id) {
        const id = this.$route.params.id
        this.select({ id })
          .then((item) => Object.assign(this.item, item))
          .catch(alert)
      }
    },
    methods: {
      ...crudStore.actions,
      ...crudMixin.methods,
      ...mapActions({}),
      handleRemove(file, fileList) {
        console.log(file, fileList);
      },
      handlePreview(file) {
        console.log(file);
      }
    }
  }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  @import '~@/styles/mixin.scss';
  @import '~@/styles/detail.scss';
</style>
