<template>
  <div class="app-container">
    <img src="/src/icons/svg/form.svg" style="height: 2.2rem; padding-top: 0.8rem; margin-right: 0.6rem; "/><h3 style="display: inline-block;"> {{ $route.meta.title }} </h3>
    <list-table :filters="filters" :fields="fields" :initialItems.sync="sortedItems" :segments="types" :loading="loading" />
  </div>
</template>

<script>
  const MODULE_NAME = 'template'
  const crudStore = crudHelper(MODULE_NAME)

  import { mapActions, mapGetters } from 'vuex'
  import crudHelper from '@/modules/_common/store/crudHelper'
  import crudMixin from '@/modules/_common/mixins/crud'

  import ListTable from '../components/ListTable'

  const fields = [
    { label: 'Autor', slug: 'person_id' },
    { label: 'Descrição', slug: 'description' },
    { label: 'Categoria', slug: 'group_id' },
    { label: 'Segmento', slug: 'type_id' }
  ]

  const filters = []

  export default {
    components: { ListTable },
    data() {
      return {
        fields: fields,
        filters: filters,
        sortedItems: [],
        paginationOptions: {}
      }
    },
    computed: {
      ...crudStore.computed,
      ...mapGetters({
        items: 'country/items',
        types: 'type/items'
      })
    },
    watch: {
      'items' (newVal) {
        this.sortedItems = newVal
      },
      deep: true,
      immediate: true
    },
    created() {
      this.find()
      this.getOptions()
    },
    methods: {
      ...crudStore.actions,
      ...crudMixin.methods,
      ...mapActions({
        findTypes: 'type/find'
      }),
      async getOptions() {
        await this.findTypes()
      }
    }
  }
</script>
