<template>
  <div class="createPost-container">
  <el-steps :active="currentStep" style="margin-bottom: 2rem;" finish-status="success">
    <el-step icon="el-icon-edit" title="Cadastro" description="Dados do template"></el-step>
    <el-step icon="el-icon-upload" title="Upload" description="Arquivo aberto e imagens"></el-step>
    <el-step icon="el-icon-question" title="Perguntas" description="Campos customizáveis"></el-step>
  </el-steps>
    <el-form ref="dataForm" :rules="rules" :model="item" label-position="left">
      <el-col :span="24">
      <div class="createPost-main-container">
		<transition name="fade-transform" appear>
        <el-row type="inline-block" :gutter="24" v-show="currentStep == 0">
          <el-col :span="7" style="padding-right: 0;">
             <el-form-item label="Status" prop="status">
               <el-radio-group v-model="item.status">
                  <el-radio-button label="Publicado" key="1" />
                  <el-radio-button label="Rascunho" key="0" />
               </el-radio-group>
            </el-form-item>
          </el-col>
          <el-col :span="7">
             <el-form-item label="Segmento(s) alvo" prop="segment_id">
                <el-select v-model="item.segment_id" placeholder="Selecionar..." multiple filterable collapse-tags clearable automatic-dropdown >
                  <el-option
                  v-for="type in types"
                  :label="type.description"
                  :key="type.id"
                  :value="type.id"
                  />
                </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="5">
             <el-form-item label="Categoria" prop="group_id">
                <el-select v-model="item.group_id" placeholder="Selecionar..." filterable clearable automatic-dropdown >
                  <el-option
                  v-for="group in groups"
                  :label="group.description"
                  :key="group.id"
                  :value="group.id"/>
                </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="5">
             <el-form-item label="Preço" prop="price">
                <el-input type="text" v-model="item.price" v-money="money" placeholder="Valor em R$"/>
            </el-form-item>
          </el-col>
       
          <el-col :span="14" :pull="7">
             <el-form-item label="Nome" prop="description">
               <el-input type="text" maxlength="80" show-word-limit v-model="item.description" placeholder="Dê um nome descritivo"/>
            </el-form-item>
          </el-col>
		  <el-col :span="14">
             <el-form-item label="Descrição" prop="technicalDescription">
               <el-input type="textarea" :autosize="{minRows: 8}" v-model="item.technicalDescription" placeholder="Uma descrição do template, com todas as suas especificações e suas opções de customização."/>
            </el-form-item>
          </el-col>
        </el-row>
		</transition>

		<transition name="fade-transform">
        <el-row :gutter="24" v-show="currentStep == 1">
        <el-col :span="24">
            <el-form-item  label="Link para o template" prop="templateFile">
              <el-input type="text" v-model="item.templateFile" placeholder="Cole aqui o link (Google Drive, Dropbox, etc...)" />
            </el-form-item>
          </el-col>

          <el-col :span="24">
            <el-form-item id="thumbnailUploader" label="Upload das imagens de Pré-Visualização" prop="thumbnails">
              <el-upload
			  :class="maxUploadsReached ? 'disableUpload' : 'enableUpload'"
			  multiple
              action="https://jsonplaceholder.typicode.com/posts/"
              list-type="picture-card"
			  :before-upload="beforeThumbUpload"
              :on-preview="handlePictureCardPreview"
              :on-remove="handleThumbRemove"
              :on-change="handleThumbUpload"
              :file-list="item.thumbnails"
              :auto-upload="true"
			  :limit="5"
              >
                <i slot="default" class="el-icon-plus"></i>
                <span class="el-upload__tip under" slot="tip">Arquivo de imagem (Ex.: .png, .jpg)</span>
              </el-upload>
              <el-dialog :visible.sync="dialogVisible">
              <img width="100%" :src="dialogImageUrl" alt="">
              </el-dialog>
            </el-form-item>
          </el-col>
        </el-row>
		</transition>

		<transition name="fade-transform">
		<el-row :gutter="24" v-show="currentStep == 2">
			<el-col :span="24">
				<el-form-item label="Nº de perguntas" prop="questionNumber">
					<el-input-number v-model="questionNumber" type="number" :min="1" />
				</el-form-item>
			</el-col>
			<el-col :span="24">
			<el-form-item label="Faça perguntas específicas, para que o cliente adicione informações no template." prop="questions">
				<el-input class="recursiveInput" v-for="count in parseInt(questionNumber)" :key="count" placeholder="Ex.: Qual é o texto desejado para o título da peça?" @blur="pushQuestion" >
					<template slot="prepend">{{ count }}</template>
					<template slot="append">?</template>
				</el-input>
			</el-form-item>
			</el-col>
		</el-row>
		</transition>

      </div>
      </el-col>

	  <el-button v-if="currentStep == steps[0]" @click="$router.go(-1)">Cancelar</el-button>
	  <el-button v-if="currentStep > steps[0]" @click="prev">Voltar</el-button>
      <el-button
	  	v-if="currentStep != steps[steps.length - 1]"
        v-loading="loading"
        style="margin-left: 10px;"
        type="primary"
        @click="next"> Próximo
      </el-button>

	  <el-button
	  	v-if="currentStep == steps[steps.length - 1]"
        v-loading="loading"
        style="margin-left: 10px;"
        type="primary"
        @click="submitPaginated"> Salvar
      </el-button>

    </el-form>
  </div>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex'
  import crudHelper from '@/modules/_common/store/crudHelper'
  import crudMixin from '@/modules/_common/mixins/crud'

  import {VMoney} from 'v-money'

  const MODULE_NAME = 'template'
  const crudStore = crudHelper(MODULE_NAME)

  export default {
    name: 'Detail',
    directives: {money: VMoney},
    data: () => ({
      MODULE_NAME,
	  steps: [0, 1, 2],
	  currentStep: 0,
	  questionNumber: 1,
      money: {
        decimal: ',',
        thousands: '.',
        prefix: 'R$ ',
        suffix: '',
        precision: 2,
        masked: false /* doesn't work with directive */
      },
      groups:[
        {
          id: 1,
          description: 'Cartão de visitas'
        },
        {
          id: 2,
          description: 'Panfleto'
        },
        {
          id: 3,
          description: 'E-mail Marketing'
        },
        {
          id: 4,
          description: 'Lona'
        },
        {
          id: 5,
          description: 'Outdoor'
        }
      ],
      dialogImageUrl: '',
      dialogVisible: false,
	  maxUploadsReached: false,
      item: {
        description: '',
        status: 'Rascunho',
        templateFile: [],
        thumbnails: [],
		questions: []
      },
      rules: {
        description: [
          { required: true, message: 'Defina um nome para o seu template.', trigger: 'blur' }
        ],
        status: [
          { required: true, message: 'Defina um status para este template.', trigger: 'blur' }
        ],
        technicalDescription: [
          { required: true, message: 'Descreva o seu template de maneira detalhada.', trigger: 'blur' }
        ],
        price: [
          { required: true, message: 'Defina um valor para este template.', trigger: 'blur' }
        ],
        segment_id: [
          { required: true, message: 'Escolha o(s) segmento(s) alvo para este template.', trigger: 'blur' }
        ],
        group_id: [
          { required: true, message: 'Defina uma categoria para este template.', trigger: 'blur' }
        ],
        templateFile: [
          { required: true, message: 'Disponibilize o arquivo aberto do seu template.', trigger: 'blur' }
        ]
      }
    }),
    computed: {
      ...crudStore.computed,
      ...mapGetters({
        types: 'type/items'
      })
    },
    created() {
      this.findTypes()
      if (this.$route.params.id) {
        const id = this.$route.params.id
        this.select({ id })
          .then((item) => Object.assign(this.item, item))
          .catch(alert)
      }
    },
    methods: {
      ...crudStore.actions,
      ...crudMixin.methods,
      ...mapActions({
        findTypes: 'type/find'
      }),
	  next() {
		  let index = this.steps.indexOf(this.currentStep)
		  this.currentStep = this.steps[index + 1]
	  },
	  prev() {
		  let index = this.steps.indexOf(this.currentStep)
		  this.currentStep = this.steps[index - 1]
	  },
	  pushQuestion(e){
		  this.item.questions.push(e.target.value)
	  },
      handleThumbRemove(file, fileList) {
        console.log(file, fileList);
        let index = this.item.thumbnails.indexOf(file.url)
        this.item.thumbnails.splice(index, 1);
      },
      handleTemplateRemove(file, fileList) {
        console.log(file, fileList);
        let index = this.item.templateFile.indexOf(file.url)
        this.item.templateFile.splice(index, 1);
      },
      handlePictureCardPreview(file) {
        this.dialogImageUrl = file.url;
        this.dialogVisible = true;
      },
      handleDownload(file) {
        console.log(file);
      },
      handleTemplateUpload(res, files) {
        console.log(res)
        console.log(files)
        this.item.templateFile = [];
        for (let file in files) {
          this.item.templateFile.push(files[file].url);
        }
      },
      handleThumbUpload(res, files) {
        console.log(res)
        console.log(files)
		if (files.length < 5) {
			this.item.thumbnails = [];
			for (let file in files) {
				this.item.thumbnails.push(files[file].url);
			}
		}
		else {
			this.maxUploadsReached = true;
		}
        
      },
	  beforeThumbUpload(file) {
		  const is200kb = file.size / 1024 / 1024 < .2;
		  const isImage = file.type === 'image/jpeg' || file.type === 'image/png';
		  if (!is200kb) {
			this.$message.error('O arquivo não pode exceder 200kb');
		  }
		  if (!isImage) {
          this.$message.error('Somente arquivos no formato .JPG ou .PNG');
        }
		  return is200kb && isImage;
	  }
    }
  }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  @import '~@/styles/mixin.scss';
  @import '~@/styles/detail.scss';

  .recursiveInput {
	  margin-bottom: 1rem;
  }
</style>
