<template>
<div class="app-container">
  <el-row style="margin-bottom: 2rem;">
    <el-button-group style="margin-right: 10px;">
      <el-button
        v-waves
        class="filter-item"
        style="margin-left: 0;"
        type="primary"
        icon="el-icon-plus"
        @click="$router.push(`new`)">
        Adicionar Novo
      </el-button>
      <download-excel v-waves class="el-button filter-item el-button--primary" :data="excel" type="xls" name="tabelaUsuarios.xls" style="display: inline-flex; float: right; font-weight: 400;">
      <i class="el-icon-download"></i><span style="margin-left: 7px;">Exportar</span>
    </download-excel>
    </el-button-group>
    <h3 class="paginationLabel" style="float: right;">Total: <strong>{{ items.length }}</strong></h3>
  </el-row>
  <div>


<!-- START COMPLEX TABLE -->
    <el-table
      v-loading="loading"
      :data.sync="filteredItems"
      border
      fit
      highlight-current-row
      style="width: 100%;"
    >
      <el-table-column
      v-for="field in fields"
      :label="field.label"
      :prop="field.slug"
      :key="field.slug"
      align="center"
      sortable
      >
        <template slot-scope="scope">
          <span>{{ scope.row[field.slug] }}</span>
        </template>
</el-table-column>

<el-table-column label="Ações" align="center" class-name="small-padding fixed-width">
  <template slot-scope="scope">
          <el-button circle plain type="warning" size="small" icon="el-icon-edit" @click="handleUpdate(scope.row)" />
          <el-button circle plain type="danger" size="small" icon="el-icon-delete" title="Remover" @click="handleDelete(scope.row)"/>
        </template>
</el-table-column>
</el-table>


<!-- END COMPLEX TABLE -->


</div>


</div>
</template>

<script>
  import crudHelper from '@/modules/_common/store/crudHelper'
  import crudMixin from '@/modules/_common/mixins/crud'
  import { mapGetters, mapActions } from 'vuex'
  import waves from '@/directive/waves' // waves directive

  const MODULE_NAME = 'template'
  const crudStore = crudHelper(MODULE_NAME)

  export default {
    props: ['fields', 'initialItems'],
    directives: { waves },
    data() {
      return {
        downloadLoading: false,
        filterOptions: {},
        filteredItems: []
      }
    },
    mounted() {
      this.$nextTick(() => {
        // update filtered items (same as watch)
        this.filteredItems = this.initialItems;
      })
    },
    computed: {
      ...crudStore.computed,
      ...mapGetters({}),
      excel() {
        let excel = this.items
        return excel
      },
    },
    watch: {
      'initialItems' (newVal) {
        this.filteredItems = newVal;
      },
      deep: true,
      immediate: true,
    },
    methods: {
      ...crudStore.actions,
      ...crudMixin.methods,
      ...mapActions({}),
    }
  }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  @import '~@/styles/list-table.scss';
</style>
