<template>
  <el-col style="width: auto !important;">
    <!-- START FILTER OPTIONS LOOP -->
    <!-- V-IF for each input type -->
    <el-input style="margin: 0 auto;" v-if="filter.type === 'text'" v-model='filterOptions[filter.slug]' :placeholder='filter.placeholder' :class="filter.type === 'text' ? 'show' : 'hidden'" class="filter-item"/>
    
    <el-select style="margin: 0 auto; width: 100%;" v-if="filter.type === 'select'" v-model="filterOptions[filter.slug]" :placeholder="filter.placeholder" :class="filter.type === 'select' ? 'show' : 'hidden'" clearable automatic-dropdown :filterable="filter.autocomplete" :multiple="filter.tags" :collapse-tags="filter.tags" class="filter-item">
      <el-option v-for="(option, index) in filter.options" :value="option.key" :label="option.label" :key="index">{{option.label}}</el-option>
    </el-select>
    
    <div v-if="filter.type === 'daterange'">
      <span style="margin-left: 0; font-size: .8rem; color: #c5cad0; text-transform: none; transform: translateY(-.7rem); display: inline-block;">{{ filter.label }}</span>
      <el-date-picker
        style="transform: translateY(-.55rem); width: 100%; margin: 0 auto;"
        v-model="filterOptions[filter.slug]"
        type="datetimerange"
        unlink-panels
        format="dd/MM/yyyy"
        value-format="yyyy-MM-dd"
        prefix-icon="el-icon-date"
        popper-class="el-date-popper"
        :picker-options="pickerOptions"
        :range-separator="filter.range_separator"
        :start-placeholder="filter.start_placeholder"
        :end-placeholder="filter.end_placeholder">
      </el-date-picker>
    </div>
    
    <div v-if="filter.type === 'range'" style="width: 100%;">
      <span style="margin-left: 0; font-size: .8rem; color: #c5cad0; text-transform: none; width: 100%; text-align: center; display: inline-block;">{{filter.label}} entre <span style="color: #409EFF; opacity: .75;">{{filterOptions[filter.slug] ? Object.values(filterOptions[filter.slug])[0]  + filter.unit : filter.min }}</span> e <span style="color: #409EFF; opacity: .75;">{{filterOptions[filter.slug] ? Object.values(filterOptions[filter.slug])[1]  + filter.unit : filter.max }}</span></span>
      <el-slider
        style="width: calc(100% - 1rem); transform: translate(0, -.55rem); margin: 0 auto;"
        v-model="filterOptions[filter.slug]"
        range
        :label="filter.label"
        :step="filter.options.step"
        :min="filter.options.min"
        :max="filter.options.max"
        :format-tooltip="filter.options.tooltip">
      </el-slider>
    </div>
    
    <el-checkbox style="margin: 0 auto; color: #c5cad0;" v-if="filter.type === 'checkbox'" v-model="filterOptions[filter.slug]" :label="filter.label" border></el-checkbox>
    
  </el-col>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex'
  import crudHelper from '@/modules/_common/store/crudHelper'
  import crudMixin from '@/modules/_common/mixins/crud'

  import waves from '@/directive/waves' // waves directive

  export default {
    name: 'CustomElFilter',
    props: ['filter', 'filterOptions'],
    directives: { waves },
    data() {
      return {
        page: 1,
        limit: 20,
        pickerOptions: {
          shortcuts: [{
            text: '1 Semana',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '1 Mês',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '3 Meses',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
              picker.$emit('pick', [start, end]);
            }
          }]
        }
      }
    }
  }
</script>

<style rel="stylesheet/scss" lang="scss">
  .el-date-range-picker__time-header {
    display: none !important;
  }
</style>
