<template>
  <el-card :body-style="{ padding: '20px' }">
    <span style="font-size: 16px;"> Histórico </span>
    <el-form label-position="top">
      <el-form-item label="Filtros:">
        <el-col :span="12">
          <el-date-picker type="date" placeholder="Inicio" style="width: 100%;"/>
        </el-col>
        <!-- <el-col :span="1" class="line">-</el-col> -->
        <el-col :span="12">
          <el-date-picker type="date" placeholder="Fim" style="width: 100%;"/>
        </el-col>
      </el-form-item>
      <el-form-item>
        <el-col :span="24">
          <el-select placeholder="Usuario" style="width: 100%;">
            <el-option label="Mariana" value="shanghai"/>
            <el-option label="Pedro" value="beijing"/>
          </el-select>
        </el-col>
      </el-form-item>
    </el-form>
    <div v-for="n in 7" :key="n">
      {{ n }}
      <hr>
    </div>
  </el-card>
</template>
