<template>
  <div class="login-container">
    <el-form ref="loginForm" :model="loginForm" :rules="loginRules" class="login-form" auto-complete="on" label-position="left">
      <transition name="fade-transform" type="transition" mode="out-in" appear>
        <div class="login-bg">

        <img class="login-logo" src="@/assets/logo-admin.png" alt="33Robotics" title="33Robotics" />

      <el-form-item prop="username">
        <el-input v-model="loginForm.username" name="username" prefix-icon="el-icon-user" type="text" auto-complete="on" placeholder="Digite seu email." @keyup.enter.native="handleLogin()" />
      </el-form-item>
      <el-form-item prop="password">
        <el-input v-model="loginForm.password" name="password" :prefix-icon="pwdType === 'password' ? 'el-icon-lock' : 'el-icon-unlock'" :type="pwdType" placeholder="Digite sua senha" @keyup.enter.native="handleLogin()"/>
        <span class="pwd" :class="pwdType === 'password' ? 'not-visible' : 'visible'" @click="showPwd">
          <svg-icon :icon-class="pwdType === 'password' ? 'eye' : 'eye-open'" />
        </span>

      </el-form-item>
      <el-form-item class="login-button-container">
        <el-button v-waves :loading="loading" type="primary" class="login-button" @click.native.prevent="handleLogin()">
          Entrar <i class="el-icon-arrow-right el-icon-right" style="transform: translateY(.1rem);" />
        </el-button>
      </el-form-item>
      </div>
      </transition>
    </el-form>
  </div>
</template>

<script>
  // import { isvalidUsername } from '@/utils/validate'
  // import { mapActions } from 'vuex'

  import waves from '@/directive/waves' // waves directive

  export default {
    name: 'Login',
    directives: { waves },
    data() {
      const validateUsername = (rule, value, callback) => {
        if (this.loginForm.username) {
          callback()
        }
        else {
          callback(new Error('Erro na digitação do seu email.'))
        }
      }
      const validatePass = (rule, value, callback) => {
        if (value.length < 1) {
          callback(new Error('Erro na digitação da sua senha.'))
        }
        else {
          callback()
        }
      }
      return {
        loginForm: {
          username: '',
          password: ''
        },
        loginRules: {
          username: [{ required: true, trigger: 'blur', validator: validateUsername }],
          password: [{ required: true, trigger: 'blur', validator: validatePass }]
        },
        loading: false,
        pwdType: 'password',
        redirect: undefined
      }
    },
    watch: {
      $route: {
        handler: function(route) {
          this.redirect = route.query && route.query.redirect
        },
        immediate: true
      }
    },
    methods: {
      // ...mapActions({
      //   signInWithEmailAndPassword: 'auth/signInWithEmailAndPassword',
      //   signInWithGoogle: 'auth/signInWithGoogle'
      // }),
      showPwd() {
        if (this.pwdType === 'password') {
          this.pwdType = ''
        }
        else {
          this.pwdType = 'password'
        }
      },
      // handleGoogleLogin() {
      //   this.$auth
      //     .signInWithGoogle()
      //     .then(user => this.$router.push({ path: this.redirect || '/' }))
      //     .catch(alert)
      // },
      handleLogin() {
        // this.$auth.signInWithEmailAndPassword({ email: 'asdasd', password: '' })
        // this.$auth.actions.signInWithEmailAndPassword({ email: 'asd', password: '' })
        // this.signInWithEmailAndPassword({ email: 'asd', password: ''})
        this.$refs.loginForm.validate(valid => {
          if (valid) {
            this.loading = true
            this.$store.dispatch('Login', this.loginForm)
              .then(() => {
                this.loading = false
                this.$router.push({ path: this.redirect || '/' })
              })
              .catch(() => {
                this.loading = false
              })
          }
          else {
            console.log('error submit!!')
            return false
          }
        })
      }
    }
  }
</script>

<style rel="stylesheet/scss" lang="scss">
  /* reset element-ui css */

  @import '~@/styles/variables.scss';

  .login-container .el-input .el-input__icon {
    color: $--color-primary;
  }

  .login-button-container .el-form-item__content {
    background-color: $--background-base;
  }

  .login-button {
    width: 100%;
    color: $--background-base !important;
	font-size: 1rem;
    font-weight: bold;
    box-shadow: 0 6px 18px -14px #00000099;
    transform: translateY(0);
    transition: all 200ms ease;
  }

  .login-button:hover, .login-button:focus {
    box-shadow: 0 4px 12px -2px #00000040;
    transform: translateY(-4px);
  }

  .login-button:focus:active {
    box-shadow: 0 6px 18px -14px #00000099;
    transform: translateY(0);
  }

  .login-container .login-bg {
    background-color: $--background-light;
    padding: 2rem 2rem 1rem 2rem;
    border: solid 1px $--color-primary;
    border-radius: 12px;
    box-shadow: 0 8px 32px -24px $--color-primary;
	will-change: box-shadow;
	transition: all 200ms ease;
	&:hover {
		box-shadow: 0 8px 32px -16px $--color-primary;
	}
  }

  .login-container .login-bg input {
    display: inline-block;
    width: 100%;
    height: 48px;
    color: $--color-text-primary;
    background: $--background-light;
    border: 0.5px solid $--color-primary;
    border-radius: 6px;
    padding: .8rem .4rem .8rem 2rem;
    -webkit-appearance: none;
  }

  .login-container .el-form-item {
    border: none;
    background: $--background-light;
    border-radius: 6px;
    color: $--color-text-primary;
  }

</style>

<style rel="stylesheet/scss" lang="scss" scoped>
  @import '~@/styles/variables.scss';

  *::placeholder {
    color: $--color-text-light-1;
    opacity: 1;
  }

  .login-container {
    position: fixed;
    height: 100%;
    width: 100%;
    background: $--background-base;
    .login-form {
      position: absolute;
      left: 0;
      right: 0;
      width: 420px;
      max-width: 100%;
      padding: 35px 35px 15px 35px;
      margin: 120px auto;
    }
    .login-logo {
      margin: 0 auto 2rem auto;
      display: block;
      min-height: 90px;
      height: 90px;
      width: auto;
    }
    .tips {
      font-size: 14px;
      color: #fff;
      margin-bottom: 10px;
      span {
        &:first-of-type {
          margin-right: 16px;
        }
      }
    }
    .svg-container {
      padding: 6px 5px 6px 15px;
      color: $--color-text-primary;
      vertical-align: middle;
      width: 30px;
      display: inline-block;
    }
    .title {
      font-size: 26px;
      color: $--color-text-primary;
      margin: 0px auto 40px auto;
      text-align: center;
      font-weight: bold;
      opacity: 1;
    }
    .show-pwd {
      position: absolute;
      right: 10px;
      top: 7px;
      font-size: 16px;
      cursor: pointer;
      user-select: none;
    }
  }
</style>
